#optionsDiv{
	margin: 2.5%;
}

#vis-ul, #vis-ul-inactive
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*width: 60%;*/
}
 
#vis-ul li, #vis-ul-inactive li
{
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	height: 1.5em;
	display: flex;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  /*font-size: 12px;*/
}

/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25B2";
  position: absolute;
  text-align: center;
}*/

/* Style northward tooltips specifically */
/*.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}*/

.tooltipAttr{
	font-weight: bold;
	color: gold;
}